/*-------------------------*/
/*         general         */
/*-------------------------*/

body {
    margin: 0;

}

@font-face {
    font-family: 'yekan';
    src: url("../fonts/YekanBakhFaNum-Bold.woff2");
}


.container {
    width: 1900px;
    margin-right: auto;
    margin-left: auto;
}


.width100 {
    width: 100%;
}

/*-------------------------*/
/*         colors          */
/*-------------------------*/

.clrone {
    background-color: #1a5ca4 !important;
}
.clronetext {
    color: #1a5ca4;
}
.clrtwo {
    background-color: rgb(253 234 121);
}

.clrthree {
    background-color: rgb(209 237 251);
}


.clrfour {
    background-color: rgba(0, 0, 0, 0.12);
}
.clrblack {
    color: black !important;
}



/*-------------------------*/
/*         typography       */
/*-------------------------*/

.yekan {
    font-family: yekan !important;
}



/*-------------------------*/
/*         orbit           */
/*-------------------------*/

.orbit-container {
   height: 100vh;

    position: relative;
    overflow: hidden;




}

.orbit-head {
    position: relative;
    background-color: rgba(0, 0, 0, 0.12);
    width: 30vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    backdrop-filter: blur(0.1rem);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    top: 30%;
    box-shadow: 0px 0px 18px 1px #1a5ca4;

    text-align: center;
    border-radius: 50%;
}

.orbit-head img {
    width: 9rem;
    position: absolute;
    top: -10%;

    z-index: -1;
    animation:logoanimation 6s linear infinite ;
}


@keyframes logoanimation {
    25% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(0rem);

    }
    75% {
        transform: translateY(-1rem);
    }
    100 %{
        transform: translateY(0rem);

    }
}




@keyframes planet1 {
    from {
        transform: rotate(0deg) translateX(14vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(14vw) rotate(-360deg);
    }
}
@keyframes planet1-2 {
    from {
        transform: rotate(0deg) translateX(-14vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-14vw) rotate(-360deg);
    }
}




@keyframes planet2 {
    from {
        transform: rotate(0deg) translateX(20vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(20vw) rotate(-360deg);
    }
}
@keyframes planet2-1 {
    from {
        transform: rotate(0deg) translateX(-20vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-20vw) rotate(-360deg);
    }
}
@keyframes planet2-2 {
    from {
        transform: rotate(0deg) translateX(-20vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-20vw) rotate(-360deg);
    }
}






@keyframes planet3 {
    from {
        transform: rotate(0deg) translateY(27vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(27vw) rotate(-360deg);
    }
}
@keyframes planet3-1 {
    from {
        transform: rotate(0deg) translateY(-27vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-27vw) rotate(-360deg);
    }
}




.one {
    border:0.4rem dotted rgba(37, 37, 37, 0.3);
    position: absolute;
    border-radius: 50%;


    width: 40vw;
    height: 40vw;
    top: 30%;
    

}

.inner-one-one {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet1 20s linear infinite;
}
.inner-one-two {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet1-2 26s linear infinite;
}

.two {
    border:0.4rem dotted rgba(37, 37, 37, 0.3);
    position: absolute;
    border-radius: 50%;


    width: 60%;
    height: 75vh;
    top: 12.5vh;
    left: 20%;
}
.inner-two-one {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet2 30s linear infinite;
}

.inner-two-two {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet2-1 36s linear infinite;
}

.inner-two-three {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet2-2 40s linear infinite;
}

.three {
    border:0.3rem dotted rgba(37, 37, 37, 0.3);
    position: absolute;
    border-radius: 50%;


    width: 80%;
    height: 95vh;
    top: 2.5vh;
    left: 10%;
}

.inner-three-one {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet3 50s linear infinite;
}

.inner-three-two {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet3-1 55s linear infinite;
}

.inner-three-three {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet3-1 60s linear infinite;
}

.inner-three-four {
    position: relative;
    top: 50%;

    text-align: center;
    animation: planet3 65s linear infinite;
}


/*-------------------------*/
/*  border and border rad  */
/*-------------------------*/

.borderrad1 {
    border-radius: 1.6rem;
}
.blackborder {
    border: 1px solid black;
}



/*-------------------------*/
/*         navbar          */
/*-------------------------*/

.nav {
    min-height: 3rem;
    width: 100%;
    background-color: rgba(251, 249, 249, 0.96);
}

.underline {
    &::after {
        content: "";
        border-bottom: solid 0.1618rem #1b5da5;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s;
    }

    &:hover {
        &::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }
}




/*-------------------------*/
/*         backgrounds     */
/*-------------------------*/

.boxbgdark {
    background-color: rgba(0, 0, 0, 0.28);
}



/*-------------------------*/
/*         shadows         */
/*-------------------------*/



.shadowone {
    box-shadow: 0.3rem 0.3rem 0.6rem 0px rgba(0,0,0,0.5);
    border-radius: 0.6rem;
}


/*-------------------------*/
/*         margins         */
/*-------------------------*/

.margintop {
    margin-top: 5rem;
}

.pad{
    padding-right: 150px;
    padding-left: 150px;
}