/*-------------------------*/
/*         general         */
/*-------------------------*/

body {
    margin: 0;

}

@font-face {
    font-family: 'yekan';
    src: url("../fonts/YekanBakhFaNum-Bold.woff2");
}

@font-face {
    font-family: 'yekan-reg';
    src: url("../fonts/YekanBakhFaNum-Regular.woff2");
}


.container {
    width: 1900px;
    margin-right: auto;
    margin-left: auto;
}


.width100 {
    width: 100%;
}


.cardheight {
    min-height: 45rem;
    display: flex;
    flex-direction: column;

}

/*-------------------------*/
/*         colors          */
/*-------------------------*/

.clrone {
    background-color: #1a5ca4 !important;
}

.clronetext {
    color: #1a5ca4;
}

.clrtwo {
    background-color: rgb(253 234 121);
}

.clrthree {
    background-color: #CAF4FF
}


.clrfour {
    background-color: rgba(0, 0, 0, 0.12);
}

.clrfive {
    background-color: #FFF9D0 !important;
}

.clrsix {
    background-color: rgba(3, 48, 106, 0.38);
}

.clrfivetext {
    color: #FFF9D0 !important;
}

.clrblack {
    color: rgb(0, 0, 0) !important;
}

.clrseven {
    background-color: white;
}

.clrwhitetp {
    background-color: rgba(255, 255, 255, 0.59);
    backdrop-filter: blur(0.1rem);
}

.clreight {
    background-color: #b7f3b5 !important;
}


/*-------------------------*/
/*         typography       */
/*-------------------------*/

.yekan {
    font-family: yekan !important;
}

.yekan-regular {
    font-family: yekan-reg !important;
}

/*-------------------------*/
/*         orbit           */
/*-------------------------*/

.orbit-container {
    height: 100vh;

    position: relative;
    overflow: hidden;


}

.orbit-head {
    position: relative;
    background-color: rgba(0, 0, 0, 0.12);
    width: 30vw;
    height: 30vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
    backdrop-filter: blur(0.1rem);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;
    top: 20%;
    box-shadow: 0px 0px 18px 1px #1a5ca4;

    text-align: center;
    border-radius: 50%;
}

.orbit-head img {
    width: 9rem;
    position: absolute;
    top: -15%;
    right: 15rem;

    z-index: -1;
    /*animation: logoanimation 6s linear infinite;*/
}


@keyframes logoanimation {
    25% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(0rem);

    }
    75% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0rem);

    }
}

@keyframes logoanimationx {
    25% {
        transform: translateX(1rem);
    }
    50% {
        transform: translateX(0rem);

    }
    75% {
        transform: translateX(-1rem);
    }
    100% {
        transform: translateX(0rem);

    }
}


@keyframes planet1 {
    from {
        transform: rotate(0deg) translateX(30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(30vw) rotate(-360deg);
    }

}

@keyframes planet1-2 {
    from {
        transform: rotate(0deg) translateX(-30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-30vw) rotate(-360deg);
    }
}


@keyframes planet2 {
    from {
        transform: rotate(0deg) translateX(30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(30vw) rotate(-360deg);
    }
}

@keyframes planet2-1 {
    from {
        transform: rotate(0deg) translateX(-30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-30vw) rotate(-360deg);
    }
}

@keyframes planet2-2 {
    from {
        transform: rotate(0deg) translateX(-30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(-30vw) rotate(-360deg);
    }
}


@keyframes planet3 {
    from {
        transform: rotate(0deg) translateY(30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(30vw) rotate(-360deg);
    }
}

@keyframes planet3-1 {
    from {
        transform: rotate(0deg) translateY(-30vw) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-30vw) rotate(-360deg);
    }
}


.one {

    position: relative;


    width: 65vw;
    height: 100vh;
    bottom: 70%;
    margin-left: auto;
    margin-right: auto;


}

.inner-one-one {
    position: absolute;
    top: 10%;
    right: 15%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimationx 5s linear infinite;
}

.inner-one-two {
    position: absolute;
    top: 30%;
    right: 9%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimation 5s linear infinite;
}


.inner-two-one {
    position: absolute;
    top: 75%;
    right: 75%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimation 4s linear infinite;
}

.inner-two-two {
    position: absolute;
    top: 50%;
    right: 9%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimationx 5s linear infinite;
}

.inner-two-three {
    position: absolute;
    top: 73%;
    right: 9%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimation 5s linear infinite;
}


.inner-three-one {
    position: absolute;
    top: 55%;
    right: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimationx 5s linear infinite;
}

.inner-three-two {
    position: absolute;
    top: 35%;
    right: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimation 5s linear infinite;
}


.inner-three-four {
    position: absolute;
    top: 10%;
    right: 70%;
    display: flex;
    flex-direction: column;
    border: 1px solid #bab6b6;

    backdrop-filter: blur(0.3rem);
    padding: 0.6rem;
    justify-content: center;
    align-items: center;

    text-align: center;
    animation: logoanimationx 5s linear infinite;
}


/*-------------------------*/
/*  border and border rad  */
/*-------------------------*/

.borderrad1 {
    border-radius: 1.6rem;
}

.blackborder {
    border: 1px solid black;
}


/*-------------------------*/
/*         navbar          */
/*-------------------------*/

.nav {
    min-height: 3rem;
    width: 100%;
    background-color: rgba(251, 249, 249, 0.96);
}

.underline {
    &::after {
        content: "";
        border-bottom: solid 0.1618rem #1b5da5;

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.4s;
    }

    &:hover {
        &::after {
            transform-origin: center;
            transform: scaleX(1);
        }
    }

    @keyframes underline {
        from {
            transform: scaleX(0);
        }
        to {
            transform: scaleX(1);
        }
    }
}

/*-------------------------*/
/*         cards           */
/*-------------------------*/
.cardanimation > :hover {
    box-shadow: 0.3rem 0.3rem 0.6rem 0px rgba(0, 0, 0, 0.5);
}


/*-------------------------*/
/*         backgrounds     */
/*-------------------------*/

.boxbgdark {
    background-color: rgba(0, 0, 0, 0.28);
}

.blogbg {
    background-color: rgba(162, 157, 157, 0.72);
    backdrop-filter: blur(0.3rem);
}

.boxbglight {
    background-color: rgba(253, 253, 253, 0.28);
    backdrop-filter: blur(0.6rem);
}


/*-------------------------*/
/*         shadows         */
/*-------------------------*/


.shadowone {
    box-shadow: 0.3rem 0.3rem 0.6rem 0px rgba(0, 0, 0, 0.5) !important;
    border-radius: 0.6rem;
}


/*-------------------------*/
/*         margins         */
/*-------------------------*/

.margintop {
    margin-top: 5rem !important;
}

.pad {
    padding-right: 150px;
    padding-left: 150px;
}




/*-------------------------*/
/*         msc         */
/*-------------------------*/
.blur img {
    filter: blur(0.3rem);
}

.swiper-wrapper{
    align-items: center;
}

/*-------------------------*/
/*         responsive      */
/*-------------------------*/


/*mobile*/
@media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
        margin-right: auto;
        margin-left: auto;
    }

    .orbit-head {
        position: relative;
        background-color: rgba(0, 0, 0, 0.12);
        width: 100vw;
        height: 100vw;
        padding: 0;
        z-index: 1000;
        backdrop-filter: blur(0.1rem);

        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        top: 18%;
        box-shadow: 0px 0px 18px 1px #1a5ca4;
        text-align: center;
        border-radius: 50%;
    }

    .orbit-head img {
        width: 9rem;
        position: absolute;
        top: -30%;
        right: 7rem;

        z-index: -1;
        /*animation: logoanimation 6s linear infinite;*/
    }

    .one {
        display: none;
    }

    .pad {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .cardheight {
        min-height: auto;
    }
}

/*tablets*/
@media only screen and (min-width: 600px) and (max-width:1200px) {
    .container {
        width: 100vw;
        margin-right: auto;
        margin-left: auto;
    }

    .orbit-head {
        position: relative;
        background-color: rgba(0, 0, 0, 0.12);
        width: 100vw;
        height: 100vw;
        padding: 0;
        z-index: 1000;
        backdrop-filter: blur(0.1rem);

        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        align-items: center;
        top: 5%;
        box-shadow: 0px 0px 18px 1px #1a5ca4;
        text-align: center;
        border-radius: 50%;
    }

    .orbit-head img {
        width: 9rem;
        position: absolute;
        top: 10%;
        right: 20rem;

        z-index: -1;
        /*animation: logoanimation 6s linear infinite;*/
    }

    .one {
        display: none;
    }

    .pad {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .cardheight {
        min-height: auto;
    }
}

/*@media only screen and (min-width: 768px) and (max-width: 959px) {*/
/*    */
/*}*/